.git
.gitignore
*.md
node_modules
npm-debug.log
package-lock.json
yarn.lock
.env
.env.*
build
public/favicon.ico
.DS_Store
.vscode
.idea
*.iml
src/setupTests.js
src/reportWebVitals.js
src/App.test.js
Dockerfile
.dockerignore
docker-compose*
*.log
logs
