.git
.gitignore
*.md
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
**/src/test
**/target/generated-sources
**/target/generated-test-sources
**/.idea
**/*.iml
**/.classpath
**/.project
**/.settings
**/.factorypath
**/node_modules
**/package-lock.json
**/.env
**/.env.*
**/logs
**/*.log
**/.dockerignore
**/Dockerfile*
**/docker-compose*
**/README.md
**/LICENSE
**/.vscode
